@media screen {
  html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  h1 {
    font-family: 'Architects Daughter', cursive;
  }
  p {
    font-family: Raleway;
  }
  a {
    font-family: Raleway;
  }
  a.link {
    text-decoration: underline;
    color: black;
  }
  a.link:visited {
    text-decoration: none;
    color: black;
  }
  a.link:hover {
    color: #FAA51D;
  }
  a.big {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #FAA51D;
    color: white;
  }
  a.big:hover {
    transition: background-color 0.25s ease-out;
    background-color: white;
    color: #faa51d;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  body {
    background-color: #dedbdd;
    width: 100%;
    margin: 0px;
    display: block;
  }
  header {
    background-color: #faa51d;
    color: white;
    margin: 0px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 20px 5px rgba(8, 8, 8, 0.57);
    -moz-box-shadow: 0px 3px 20px 5px rgba(8, 8, 8, 0.57);
    box-shadow: 0px 3px 20px 5px rgba(8, 8, 8, 0.57);
  }
  header img.logo {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
  }
  nav.fullnav {
    margin-left: 5%;
    margin-top: 10px;
    display: block;
  }
  nav.smallnav {
    display: none;
  }
  nav a {
    display: inline;
  }
  nav a {
    padding: 10px;
    margin: 0px;
  }
  nav a:hover {
    transition: background-color 0.25s ease-out;
    background-color: white;
    color: #faa51d;
  }
  nav a.current {
    background-color: white;
    color: #faa51d;
  }
  #main {
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #content {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
  }
  #content p {
    color: black;
    width: 98%;
    display: inline-block;
    font-weight: normal;
    padding: 10px;
  }
  #content p.code {
    background-color: grey;
    font-family: 'Inconsolata', monospace;
  }
  p.spacer {
    position: relative;
    top: -80px;
    background-color: none;
    padding: 0px;
  }
  #content img {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  #main h1 {
    background-color: #faa51d;
    color: #dedbdd;
    width: 100%;
    font-weight: normal;
    padding: 10px;
  }
  #blog {
    text-align: center;
    width: 100%;
  }
  #blog iframe {
    overflow-x: hidden; 
    display: inline-block;
    width: 100%; 
    height: auto;
    min-height: 700px;
    margin-bottom: 30px; 
    border-style: none;
  }
  footer {
    display: block;
    background-color: #faa51d;
    color: white;
    margin: auto;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 3px 20px 5px rgba(8, 8, 8, 0.57);
    -moz-box-shadow: 0px 3px 20px 5px rgba(8, 8, 8, 0.57);
    box-shadow: 0px 3px 20px 5px rgba(8, 8, 8, 0.57);
  }
  .footer-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer a:visited {
    text-decoration: none;
    color: white;
  }
  footer a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1100px) {
  #main {
    margin-top: 14%;
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 800px) {
  #main {
    margin-top: 15%;
    margin-bottom: 4%;
  }
  footer {
    position: static;
  }
}


@media screen and (max-width: 650px) {
  html {
    overflow-x: hidden;
  }
  header img.logo {
    width: 45%;
    height: 45%;
  }
  .fullnav a {
    display: none;
  }
  nav.smallnav {
    display: block;
  }
  nav.smallnav {
    z-index: 1;
    list-style-type: none;
  }
  nav.smallnav #dropdown-content,
  #dropdown-content a {
    display: none;
  }
  .smallnav .dropdown {
    padding: 10px;
  }
  .smallnav .dropdown:hover {
    transition: background-color 0.25s ease-out;
    background-color: #faa51d
    color: white;
  }
  .smallnav a {
    float: left;
    clear: both;
  }
  nav a {
    padding: 10px;
    margin: 0px;
  }
  nav a:hover {
    transition: background-color 0.25s ease-out;
    background-color: white;
    color: #faa51d;
  }
  nav a.current {
    background-color: white;
    color: #faa51d;
  }
  nav.smallnav:hover #dropdown-content,
  #dropdown-content a {
    display: block;
  }
  #main {
    margin-top: 20%;
    margin-bottom: 5%;
  }
  footer {
    position: static;
    overflow: auto;
  }
}
@media screen and (max-width: 600px) {
  #main {
    margin-top: 25%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 500px) {
  #main {
    margin-top: 25%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 350px) {
  .footer-content {
    clear: left;
  }
  #main {
    margin-top: 35%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 330px) {
  #main {
    margin-top: 33%;
    margin-bottom: 5%;
  }
}
@media screen and (min-height: 1400px) {
  p.spacer {
    top: -140px;
  }
@media screen and (min-height: 2100px) {
  p.spacer {
    top: -200px;
  }
}
/*@media screen and (max-height: 1080px) {
  footer {
    position: relative;
    overflow: auto;
  }
  #main {
    margin-bottom: 2%;
  }
}*/
